#dashboard{
    margin:5%;
}
.book {
    width: 150px;
    height: 220px;
    background-color: #E26D5A;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(255, 158, 142, 0.4);
}

.tab {
    overflow: hidden;
}
.tab button{
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(255, 158, 142, 0.4);
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: #1F345B;
    height: 100px;
    width: auto;
    padding: 0% 2% 2% 2%;
}
.tab button.active-tab{
    background-color: #DBBEA1;
}
.inactive-tab{
    background-color: aliceblue;
}
.tabcontent{
    position: absolute;
    width: 80%;
    height: 50%;
    background-color: #DBBEA1;
    border-radius: 0px 30px 30px 30px;
    z-index: 1000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: -35px;
}
.tab-item{

}
.text {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}
tr{
    text-align: center;
}